<configuration>
    <connectionStrings>   
        <add name="DbConnection" 
            connectionString="RGF0YSBTb3VyY2U9MTAuMC4wLjI3O2RhdGFiYXNlPVNhbmp1RW1wbG95ZWVEaXJlY3RvcnlEQjsgaW50ZWdyYXRlZCBzZWN1cml0eT10cnVl"
            providerName="System.Data.SqlClient"/>
        <!-- <add name="DbConnection" 
            connectionString="Data Source=10.0.0.27;database=SanjuEmployeeDirectoryDB; integrated security=true"
            providerName="System.Data.SqlClient"/> -->
    </connectionStrings>
</configuration>